:root {
    --logoColor: #FFB800; /* Color Logo */
    --logoTextColor: #D1D0C5; /* Color Logo Teks */
    --textColor: #646669; /* Color Teks Konten */
    --backgroundColor: #323437; /* Color Background Web */
    --subBackgroundColor: #2C2E31; /* Color Sub-Background Web (Lebih gelap) */
}

body{
    transition: background-color 0.1s ease-in-out, color 100ms ease-in-out;
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

.screen{
    height: calc(100vh - 4rem);
}

a{
    text-decoration: none;
}

.logo{
    width: 3rem;
    height: 2.4rem;
    margin-right: 0.5rem;
    color: var(--logoColor);
}

.text-primary{
    color: var(--logoTextColor);
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}

.text-panel, .text-footer{
    color: var(--textColor);
    font-size: 0.8rem;
    transition: color 100ms ease-in-out;
}

.game{
    position: relative;
    display: flex;
}

.timer{
    color: var(--logoTextColor);
    position: absolute;
    top: -3rem;
    font-size: 2rem;
    margin: 0.25em 0.3em;
}

.reload{
    position: absolute;
    bottom: -3rem;
    left: 50%;
    font-size: 2rem;
}

.text-board{
    color: var(--textColor);
    font-size: 2rem;
    /* Width ganti jadi px atau rem */
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* text-overflow: clip; */
}

.flex, .y-center, .x-center, .flex-between, .center{
    display: flex;
}

.column{
    flex-direction: column;
}

.flex-between{
    justify-content: space-between;
}

.y-center, .center{
    align-items: center;
}

.x-center, .center{
    justify-content: center;
}

.gap-2{
    gap: 2rem;
}

.gap-1{
    gap: 1rem;
}

.gap-s{
    gap: 0.2rem;
}

.gap-m{
    gap: 0.3rem;
}

.px-12{
    padding-right: 12rem;
    padding-left: 12rem;
}

.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon-small{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--textColor);
    cursor: pointer;
}

.width-full{
    width: 100%;
}

.panel{
    position: absolute;
    top: 0;
    background-color: var(--subBackgroundColor);
    /* padding: 0.4rem 3rem; */
    border-radius: 0.4rem;
    max-width: max-content;
    transition: max-width 200ms ease-in-out, width 200ms ease-in-out;
}

.button-panel, .text-footer{
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button-icon{
    width: 1rem;
    height: 1rem;
}

.button-panel:hover .text-panel{
    color: var(--logoTextColor);
}

.icon-hover:hover {
    color: var(--logoTextColor);
}

.button-panel:first-child{
    margin-left: 0.5rem;
}

.button-panel:last-child{
    margin-right: 0.5rem;
}

.spacer{
    border: 3px solid var(--backgroundColor);
    border-radius: 1rem;
}

.main-game{
    position: relative;
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal.show {
    display: flex;
}

.modal-content {
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    color: var(--textColor);
    box-shadow: 0 0 0 .2em var(--subBackgroundColor);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.correct {
    color: var(--logoTextColor);
}

.incorrect {
    color: rgb(214, 7, 7);
}

.extra {
    color: rgb(88, 0, 0);
}

.word {
    display: inline;
    margin: 0.3em;
    line-height: 1em;
}

.hide {
    opacity: 0;
}

.error {
    /* GANTI JADI WARNA ERROR (NANTI DTAMBAHIN VAR COLOR BARU) */
    text-decoration: underline rgb(214, 7, 7) 2px;
}